<div class="container center-align">
  <div class="row">

    <div class="col s12 l6">
      <%= render 'layouts/overview-ending-soon' %>
    </div>

    <div class="col s12 l6">
      <%= render 'layouts/overview-in-repair' %>
    </div>

  </div>

  <div class="row">

    <div class="col s12 l6">
      <%= render 'layouts/overview-sites' %>
    </div>

    <div class="col s12 l6">
      <%= render 'layouts/overview-total' %>
    </div>

  </div>
</div>