<div class="container center-align">

  <div class="row">

    <div class="col s12 l6">

      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title">
            <i class="material-icons left">schedule</i>
            Ending soon
            <a class="dropdown-button right" href="#!" data-activates="dropdown-supplies-ending" data-constrainwidth="false"><i class="material-icons black-text">more_vert</i></a>

            <!-- Dropdown Structure -->
            <ul id="dropdown-supplies-ending" class="dropdown-content" style="min-width: 150px;">

              <!-- Export -->
              <li><a href="#"><i class="material-icons left">import_export</i>Export</a></li>

            </ul>


          </span>

          <table class="responsive-table">
            <thead>
              <tr>
                <th data-field="id">Name</th>
                <th data-field="name">Item Name</th>
                <th data-field="price">Item Price</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="col s12 l6">

      <div class="card hoverable">

        <div class="card-content">

          <span class="card-title">
            <i class="material-icons left">build</i>
            Devices in repair
            <a class="dropdown-button right" href="#!" data-activates="dropdown-devices-repair" data-constrainwidth="false"><i class="material-icons black-text">more_vert</i></a>

            <!-- Dropdown Structure -->
            <ul id="dropdown-devices-repair" class="dropdown-content" style="min-width: 150px;">

              <!-- Export -->
              <li><a href="#"><i class="material-icons left">import_export</i>Export</a></li>

            </ul>
          </span>

          <table class="responsive-table">
            <thead>
              <tr>
                <th data-field="id">Name</th>
                <th data-field="name">Item Name</th>
                <th data-field="price">Item Price</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col s12 l6">

      <div class="card hoverable">

        <div class="card-content">

          <span class="card-title">
            <i class="material-icons left">location_city</i>
            Sites
            <!-- <i class="material-icons right">more_vert</i> -->
          </span>

          <ul class="collapsible popout" data-collapsible="expandable">
              <li>
                <div class="collapsible-header"><i class="material-icons">business</i>Head Office</div>
                <div class="collapsible-body">
                  <div class="collection left-align">
                      <a class="collection-item"><i class="material-icons left">print</i>Total Devices<span class="badge">14</span></a>
                      <a class="collection-item"><i class="material-icons left">web_asset</i>Total Supplies<span class="badge">14</span></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second Site</div>
                <div class="collapsible-body">
                  <div class="collection left-align">
                      <a class="collection-item"><i class="material-icons left">print</i>Total Devices<span class="badge">14</span></a>
                      <a class="collection-item"><i class="material-icons left">web_asset</i>Total Supplies<span class="badge">14</span></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">kitchen</i>Third Site</div>
                <div class="collapsible-body">
                  <div class="collection left-align">
                      <a class="collection-item"><i class="material-icons left">print</i>Total Devices<span class="badge">14</span></a>
                      <a class="collection-item"><i class="material-icons left">web_asset</i>Total Supplies<span class="badge">14</span></a>
                  </div>
                </div>
              </li>
            </ul>

        </div>

      </div>
    </div>

    <div class="col s12 l6">

      <div class="card hoverable">

        <div class="card-content">

          <span class="card-title">
            <i class="material-icons left">all_inclusive</i>
            Total
            <!-- <i class="material-icons right">more_vert</i> -->
          </span>

          <div class="collection left-align">
              <a class="collection-item"><i class="material-icons left">location_city</i>Sites<span class="badge">3</span></a>
              <a class="collection-item"><i class="material-icons left">print</i>Devices<span class="badge">42</span></a>
              <a class="collection-item"><i class="material-icons left">web_asset</i>Supplies<span class="badge">42</span></a>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>