<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have received this notification, because one of the supplies has reached its quantity threshold.</p>
    <br>
    <p>Supply name: <%= @supply.name %></p>
    <p>Quantity: <%= @supply.quantity %></p>
  </body>
</html>