<h3>You have received this notification, because one of the supplies has passed its quantity threshold.</h3>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Site</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @supply.name, site_supply_url(@supply.site, @supply) %></td>
      <td><%= @supply.description %></td>
      <td><%= @supply.site.name %></td>
      <td><%= @supply.quantity %></td>
    </tr>
  </tbody>
</table>