<div class="row">
  <div class="col s12">
    <!-- Devices and Supplies Popout -->
    <ul class="collapsible popout left-align" data-collapsible="expandable">

      <% if @site_devices.any? %>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">print</i>
            Devices
            <span class="right"><%= @site_devices.count %></span>
          </div>

          <div class="collapsible-body" style="margin-left: 20px; margin-right: 20px;">

            <%= table_for_devices(@site_devices) %>
            
          </div>
        </li>

      <% end %>

      <% if @site_supplies.any? %>

        <li>
          <div class="collapsible-header">
            <i class="material-icons">web_asset</i>
            Supplies
            <span class="right"><%= @site_supplies.count %></span>
          </div>

          <div class="collapsible-body" style="margin-left: 20px; margin-right: 20px;">

            <%= table_for_supplies(@site_supplies) %>

          </div>
        </li>

      <% end %>

    </ul>  <!-- Devices and Supplies Popout -->
  </div>
</div>