<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s6">
          Created with <i class="tiny material-icons">favorite</i> by Daniel Allen. All rights reserved.
        </div>
        <div class="col s6">
          <a class="grey-text text-lighten-4 right" href="mailto:danil.allen">Contact</a>
        </div>
      </div>
    </div>
  </div>
</footer>




