<div class="navbar-fixed" style="margin-bottom: 30px;">
  <nav>
    <div class="nav-wrapper" style=" padding-left: 30px; padding-right: 30px;">

      <div class="row">

        <div class="col s3">

          <!-- Hamburger button -->
          <a href="#" data-activates="mobile-menu" class="button-collapse show-on-large" style="margin-right: 20px;"><i class="material-icons" style="font-size: 30px">menu</i></a>

          <!-- Logo -->
          <%= link_to "Boxes", root_path , class: 'brand-logo' %>
        </div>

        <div class="col s6" style="margin-top: 10px; margin-bottom: 10px;">

          <!-- Display search bar if user logged in -->
          <% if current_user %>

            <!-- Search bar -->
            <form class="hide-on-med-and-down" style="height: 44px !important; background-color: #3b464b;">
              <div class="input-field">
                <%= text_field_tag :query, params[:query], placeholder: "Search", type: "search" %>
                <label for="search"><i class="material-icons" style="line-height: 44px;">search</i></label>
                <i class="material-icons" style="line-height: 44px;">close</i>
              </div>
            </form>

          <% end %>
        </div>

        <div class="col s3">

          <!-- Desktop menu -->
          <ul class="right hide-on-med-and-down">
            <%= render 'layouts/menu' %>
          </ul>
        </div>

      </div>

    </div>
  </nav>
</div>

<!-- Hamburger(mobile) menu -->
<ul class="side-nav" id="mobile-menu">
  <%= render 'layouts/menu-mobile' %>
</ul>

<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
    $('.dropdown-button').dropdown();
    $('.collapsible').collapsible();
    $('.tooltipped').tooltip();
    $('select').material_select();
  });
</script>