<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">

      <!-- Hamburger button -->
      <a href="#" data-activates="mobile-menu" class="button-collapse show-on-large" style="margin-right: 20px;"><i class="material-icons">menu</i></a>

      <!-- Logo -->
      <%= link_to "Boxes", root_path , class: 'brand-logo' %>

      <!-- Desktop menu -->
      <ul class="right hide-on-med-and-down">
        <%= render 'layouts/menu' %>
      </ul>

    </div>

  </nav>
</div>

<!-- Hamburger(mobile) menu -->
<ul class="side-nav" id="mobile-menu">
  <%= render 'layouts/mobile-menu' %>
</ul>

<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav(); // Hamburger menu trigger
    $('.dropdown-button').dropdown();
  });
</script>