<div class="card hoverable">
  <div class="card-content">
    <span class="card-title">
      <i class="material-icons left">all_inclusive</i>
      Total
      <!-- <i class="material-icons right">more_vert</i> -->
    </span>

    <ul class="collection left-align">

      <li class="collection-item">
        <i class="material-icons left">location_city</i>
        Sites
        <span class="badge"><%= @sites.count %></span>
      </li>

      <li class="collection-item">
        <i class="material-icons left">print</i>
        Devices
        <span class="badge"><%= @devices.count %></span>
      </li>

      <li class="collection-item">
        <i class="material-icons left">web_asset</i>
        Supplies
        <span class="badge"><%= @supplies.count %></span>
      </li>

    </ul>

  </div>
</div>