<div class="col s12">
  <div class="container" style="max-width: 700px;">
    <div class="card-panel hoverable blue-grey lighten-5">
      <i class="material-icons large">dashboard</i>
      <h4>Welcome to Boxes!</h4>
      <br>
      <h5 style="font-size: 1.3em;">Looks like you have no sites yet.</h5>
      <h5 style="font-size: 1.3em;">Create your first site and then you can add devices and suppies to it:</h5>
      <br>
      <%= link_to new_site_path, class: "btn waves-effect waves-light" do %>
        <i class="material-icons left">add</i>
        New Site
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>