<div class="col s12 l6">
  <div class="card hoverable">
    <div class="card-content">
      <span class="card-title">
        <i class="material-icons left">star</i>
        Most used
        <!-- Dots Dropdown -->
        <a class="dropdown-button right" href="#!" data-activates="dropdown-supplies-most-used" data-constrainwidth="false"><i class="material-icons black-text">more_vert</i></a>

        <!-- Dropdown Structure -->
        <ul id="dropdown-supplies-most-used" class="dropdown-content" style="min-width: 150px;">

          <!-- Export button -->
          <li>
            <%= link_to export_supplies_path(most_used: true, format: "csv") do %>
              <i class="material-icons left">import_export</i>
              Export
            <% end %>
          </li>

        </ul>


      </span>

      <% if @supplies_most_used.any? %>

        <%= table_for_supplies(@supplies_most_used) %>

      <% else %>
        <br>
        <br>
        <p>Nothing</p>
        <br>
      <% end %>
    </div><!-- Card content -->
  </div>
</div>